<h1 class="text-5xl text-center text-teal-500 font-light tracking-widest mt-10 mb-16">Weather Forecast</h1>



<app-input [myPlaceholder]="placeholderText" (newClickEvent)="onSearchCities($event)"
  inputClass="appearance-none bg-transparent border-none font-sans text-gray-500 tracking-widest mr-3 py-1 px-2 leading-tight focus:outline-none"
  buttonClass="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded"
  containerClass="flex justify-between items-center border-b border-teal-500 py-2 xl:w-1/4 lg:w-1/4 sm:w-1/2 h-max mx-auto mt-6">
</app-input>



<div class="grid grid-cols-1 auto-cols-max sm:grid-cols-2 md:grid-cols-3 items-center mt-8 mx-8 ">

  @for(temp of maxTemperature; track $index) {

  <div class="w-72 h-fit rounded-lg overflow-hidden shadow-lg space-x-2 my-8 bg-teal-600/75 mx-auto ">

    <div class="px-6 py-4 text-center">

      <div class="font-extralight tracking-widest text-base text-slate-50 mb-2">{{dataItem.name}}</div>

      <p class="text-sans text-xl text-white font-normal">{{date[$index] | date: 'EEE, MMMM d'}}</p>

      <div class="w-fit mx-auto my-8">

        @if(weatherCode[$index] === 0) {
        <fa-icon [icon]="faSun" size="3x" style="color: #FFD43B;"></fa-icon>
        } @else if(weatherCode[$index] >= 1 && weatherCode[$index] <= 50) { <fa-icon [icon]="faCloudSun" size="5x"
          style="color: #c9e1f2;"></fa-icon>
          } @else if (weatherCode[$index] > 50 && weatherCode[$index] <= 80) { <fa-icon [icon]="faCloudRain" size="5x"
            style="color: #9ed5ff;"></fa-icon>
            } @else {
            <fa-icon [icon]="faSnowflake" size="5x" style="color: #ffffff;"></fa-icon>
            }

            <p class="font-sans font-bold text-3xl text-white mt-2">{{temp}}{{unitTemp}}</p>

      </div>


      <p class="font-sans text-base text-slate-50 mt-1"><fa-icon [icon]="faTemperatureArrowDown"
          style="color: #ffffff;"></fa-icon> {{minTemperature[$index]}}{{unitTemp}}</p>

      <p class="font-sans text-base text-slate-100 mt-1"><fa-icon [icon]="faWind" size="lg"
          style="color: #ffffff;"></fa-icon> {{wind[$index] | number: '1.0-0'}} km/h</p>

      <p class="font-sans text-base text-slate-100 mt-1">Percipitation: {{percipitation[$index]}}%</p>


    </div>
  </div>
  }

</div>